@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Details";
}
<header class="row">
        <img src="@Model.Walker.ImageUrl" class="col-sm-3 border-dark" alt="Doggo" />
    <div>
        <h1>@Model.Walker.Name</h1>
        <h4>@Model.Neighborhood.Name</h4>
    </div>
</header>

<body>

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Client
            </th>
            <th>
                Duration
            </th>
        
        </tr>
    </thead>
    <tbody>
        @foreach(Walk walk in Model.Walks)
                { 
        <tr>
            <td>@walk.Date</td>
            <td>@Model.clientDogs.FirstOrDefault(dog => dog.Id == walk.DogId).Name</td>
            <td>@Model.clientOwners.FirstOrDefault(client => client.Id == Model.clientDogs.FirstOrDefault(dog => dog.Id == walk.DogId).OwnerId).Name</td>







            <td>@ViewUtils.getDogFromListById(Model.clientDogs, walk.DogId).Name</td>
            <td>@ViewUtils.getOwnerFromListByDog(Model.clientOwners, ViewUtils.getDogFromListById(Model.clientDogs, walk.DogId)).Name

        </tr>
        }
    </tbody>
    </table>

</body>
        <hr />
        <div>
        </div>
        <div>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@
            <a asp-action="Index">Back to List</a>
        </div>
