@model DogGo.Models.ViewModels.WalkerProfileViewModel
@using DogGo.Models.ViewModels
@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>

<div>
    <h4>WalkerProfileViewModel</h4>
    <hr />
    @*<dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalWalkTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalWalkTime)
            </dd>
        </dl>*@

    <body>
        <div>
            <h3 class="text-left">Confirm Appointments</h3>
            @foreach (Walk walk in Model.PendingWalks)
            { 
            <div class="card border-bottom p-3 mb-2 bg-secondary" style="width: 18rem;">
                <img class="card-img-top" src="@walk.Dog.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@walk.Dog.Name</h5>
                    <h5>Owner:@walk.Dog.Owner.Name</h5>
                    <p class="card-text">Date: @walk.Date</p>
                    <a class="btn btn-primary nav-link" asp-area="" asp-route-id="@walk.Id" asp-controller="Walks" asp-action="Confirm">Confirm</a>
                </div>
            </div>
            }

        </div>


        <table class="table">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Dog
                    </th>
                    <th>
                        Owner
                    </th>
                    <th>
                        Duration
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (WalkSummaryViewModel Summary in Model.WalkSummaries)
                {
                    if (Summary.walk.WalkStatusId !=1 )
                        { 
                    <tr>
                        <td>@Summary.walk.Date</td>
                        <td>@Summary.walk.Dog.Name</td>
                        <td>>@Summary.walk.Dog.Owner.Name</td>
                        @if (Summary.walk.WalkStatusId == 2)
                        {
                            <td>TBD</td>
                        }
                        else
                        { 
                            <td><a class="btn btn-secondary" href="@Url.Action("Edit", "Walks", new { id = Summary.walk.Id })">Complete</a></td>
                        }
                        <td>@Summary.walk.Date</td>
                        <td></td>
                    </tr>
                    }
                }
            </tbody>
        </table>
        <h3>Total Walk Time: @Model.TotalWalkTime</h3>

    </body>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
